.value{
      width: 0px;
      height: 0px;
      background-color: blue;
      color: aliceblue;
     margin: 20px;
    padding: 4px 10px 5px 10px;
      border: 1px solid black;
}

.container{
     width: fit-content;
     border: 1px solid black;
    padding: 50px 10px 50px 10px;
    background-color: aqua;
}