.App {
      font-style: italic;

      color: black;

      background-color: lightblue;
      padding: 50px;

      margin: 350px;
      border-radius: 20px;
}




.row {
      align-items: center;
}

#form-control h1 {

      padding: 0px;
      padding-bottom: 4rem;
}

h1 {
      text-align: center;
}


label {
      font-style: initial;
      text-align: right;
}



.btn {
      margin: 10px;
}